# requirements.txt records the full set of dependencies for development
ray[default]
accelerate
codetiming
datasets==3.6.0
dill
hydra-core
liger-kernel
numpy==1.26.4
pandas
peft
pyarrow>=19.0.0
pybind11
pylatexenc
pre-commit
tensordict>=0.8.0,<=0.9.1,!=0.9.0
torchdata
transformers==4.52.4
wandb
packaging>=20.0
uvicorn
fastapi
latex2sympy2_extended
math_verify
opencv-python
nvitop
tensorboard
jinja2==3.1.6
qwen_vl_utils
deepspeed==0.16.9
openai
pyzmq
vllm==0.8.2